:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f4f9; /* Light grey background */
  color: #213547; /* Dark text color */
}

body {
  margin: 0;
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  min-width: 320px;
  min-height: 100vh;
}